---
// src/layouts/MainLayout.astro
const { title } = Astro.props;
import { config } from '../scripts/config';

// Import CSS Bootstrap biar langsung aktif
import 'bootstrap/dist/css/bootstrap.min.css';
---

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title} | {config.appName}</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>
        /* Paksa semua font pake Quicksand */
        body {
            font-family: 'Quicksand', sans-serif;
        }
    </style>
</head>
<body>

    <slot />

    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>